

@media screen and (max-width: 868px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    margin: 0 3%;
  }

  .middle-right{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15%;
  }
  
  .phone-dial{
    display: none;
  }

  .left{
    display: flex;
    flex-direction: row;
    margin: 0%;
    position: relative;
    right: 25%;
  }

  .upper-button{
    width: 58%;
    height: 20%;
    padding: 2px !important;
    margin: 2px !important;
    font-size: 12px;
  }

  .navigation-menu ul {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(50vh - 77px);
    background-color: white;
    z-index: 10;    
    /* border-top: 1px solid black; */
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation{
    height: 70px;
  }

  .logo{
    width: 70%;
    padding-bottom: 5px;
    position: inherit;
    right: 5%;
  }

  .btn{
    width: 20%;
    height: 20%;
    font-size: 5px;
  }
 
/* ...............................Maintop........................ */
.sub-div1, .div-one, .div-fir, .div-g{
  width: 100%;
  text-align: center;
}

.sub-div2, .div-two, .div-sec, .div-exp{
  width: 100%;
  text-align: center;
}

.maintop-container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 150vh;
  margin: 1rem 0;
  padding: 10px !important;
  ;
}

/* ....................Expand.....................  */
.second-container, .enhance-container, .case-study, .services, .experience-contain, .media-div, .interested, .footer{
  display: flex;
  flex-direction: column;
  height: 200vh;
  overflow: hidden;
} 

.div-one{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin-left: 2%;
  height: 90%;
}

.grid-container, .grid-container-services, .grid-container-experiences{
  justify-content: space-around;
}

/* ................Enhance............... */
.enhance-container{
  height: 170vh;
}

/* .................CaseStudy.....................  */
.case-study{
  height: 120vh;
}

/* ...................Experience..................  */
.experience-contain{
  height: 210vh;
}

.grid-container-experiences, .grid-container-media{
  width: 100%;
}

.div-exp{
  height: auto;
}

/* .................Media.............  */
.media-div{
  height: 130vh;
  width: 100%;
}

/* ................Interested...........  */
.interested{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.client-h{
  display: inline-block;
    vertical-align: middle;
    z-index: 5;
    margin: auto;
}

.interest-button{
  width: auto;
}

/* ..............Footer................  */
 .footer-first, .footer-second{
  width: 100%;
  text-align: center;
 }

 .footer{
  height: 170vh;
 }

 /* ............Contact-Page.............  */
 .contains{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* overflow: hidden; */
 }
 .whole{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
 }

 .contact-blur{
  height: 50vh;
  margin-bottom: 90px;
 }

 .combined{
  width: 100%;
  text-align: center;
 }

 .form{
  display: block;
  position: relative;
  width: 100%;
  margin: 0 !important;
  padding: 20px;
 }

 .map{
  display: block;
  position: relative;
 }

 .footer{
  display: block;
  position: relative;
 }

 /* ...................Blog...................  */
 .single-blog{
  width: 100%;
 }
}

