<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-lock-keyhole"></i>
    <h1 class="display-3">Manage Finance</h1>
    <p class="lead">Manage your personal finance with our service!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button" style="color: black;">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button" style="color: gray;">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
