<%- include('partials/header') %>

<nav class="navbar">
  <img class="logo" src="css/images/logo.png" alt="image">
  <button id="btn" type="button" class="btn" name="button">Add Items</button>
</nav>
<div class="main">
  <h1>Finance History</h1>
  <div class="box">
    <table>
      <thead>
        <tr>
          <th>Transaction Description</th>
          <th>Category</th>
          <th>Account</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6"><input type="button" id="newRow" class="bts" value="Add New Row"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<%- include('partials/footer') %>
