.interested{
    /* position:absolute;
    top: 840vh; */
    /* border: 1px solid black; */
    margin: 1rem 0;
    margin-bottom: 0;
    padding: 2rem 2rem;
    width: 100%; 
    height: 40vh;
    text-align: center;
    /* background: url('./images/back-tech.jpg') no-repeat center center fixed;
    background-size: cover;  */
    /* opacity: 0.8; */
    z-index: -4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../../images/office.jpg");
    background-size: cover; 
    /* width: 100%;
    height: 50%; */
    background-repeat: no-repeat;
    background-position: 30% 70%;
  }
  
  .client-h{
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    padding-left: 10%;
    vertical-align: middle;
    margin-right: 1%;
    width: 48%;
    z-index: 5;
  }
    
  .interest-button{
    width: 48%;
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-left: 2%;
    z-index: 5;
  }
  
  .int-but{
    background: rgb(153, 108, 25);
  }
  
  .int-but:hover{
    background: white;
    color: black;
    font-weight: 800;
  }
  