.footer{
    /* position:absolute;
    top: 879vh; */
    margin:0;
    width: 100%;
    height: 100vh;
    background: rgb(41, 49, 80);
    color: white;
    /* border: 1px solid black; */
  } 
  
  .footer-head{
    margin: 80px 50px;
    margin-bottom: 0;
  }
  
  .footer-first{
    display: inline-block;
    vertical-align: middle;
    width: 48%;
  }
  
  .footer-second{
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 9%;
  }
  
  .for-margin{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-right: 2px solid white;
    padding: 20px;
    width: 90%;
  }
  
  .foot-fir1{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
  }
  
  .foot-fir2{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* ......sec-section */
  .footer-sec-1{
    display: inline-block;
    padding-left: 1rem;
    vertical-align: middle;
    margin: 2%;
  }
  
  .footer-sec-2{
    display: inline-block;
    padding-left: 1rem;
    vertical-align: middle;
    margin: 2%;
  }
  
  .footer-sec-3{
    display: inline-block;
    padding-left: 1rem;
    vertical-align: middle;
    margin: 2%;
  }
  
  .footer-head-t{
    margin: 20px 0;
  }
  
  dl > dt{
    font-weight: 450;
  }
  
  .subscribe{
    margin: 30px;
  }